@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

html,
body {
  height: 100%;
  min-width: 240px;
}

.main {
  display: grid;
  grid-template: 74px 1fr / minmax(1rem, 1fr) minmax(auto, 720px) minmax(
      1rem,
      1fr
    );
  padding: 16px 0;
  min-height: 100%;
  align-items: center;
}

h1,
.translation__wrapper {
  grid-column: 2;
}

h1 {
  grid-row: 1;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: darkcyan;
  text-align: center;
  margin: 0;
}

.translation__wrapper {
  display: grid;
  grid-row: 2;
  gap: 48px;
}

.translation__item {
  display: grid;
  justify-items: start;
  gap: 16px;
}

.translation__label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3a75c4;
  margin-top: 16px;
}

.translation__text {
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  color: #3d3e50;
  min-height: 32px;
  outline: none;
  border: solid 1px darkcyan;
  border-radius: 8px;
  padding: 16px;
  width: calc(100% - 34px);
}

.translation__img {
  position: relative;
  width: 200px;
  height: 200px;
}

.translation__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.button {
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 30px;
  background-color: #3a75c4;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 0 #23262f3b;
  outline: none;
  min-width: 140px;
  position: relative;
  top: 0;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
}

.button:active {
  top: 3px;
  box-shadow: 0 0px 0 #23262f3b;
}

.button:hover {
  background-color: #75a6e6;
  transition: background-color 0.5s ease 0s;
}

@media screen and (max-width: 500px) {
  .main {
    align-items: end;
  }

  .translation__item {
    justify-items: center;
  }

  .translation__label {
    font-size: 16px;
  }

  .button {
    width: 100%;
  }
}
